In [35]:
import pandas as pd

rawdata=pd.read_csv("accident.csv", encoding='cp1252')
rawdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3057 entries, 0 to 3056
Data columns (total 15 columns):
Reference Number       3057 non-null int64
Easting                3057 non-null int64
Northing               3057 non-null int64
Number of Vehicles     3057 non-null int64
Accident Date          3057 non-null object
Time (24hr)            3057 non-null int64
1st Road Class         3057 non-null object
Road Surface           3057 non-null object
Lighting Conditions    3057 non-null object
Weather Conditions     3057 non-null object
Casualty Class         3057 non-null object
Casualty Severity      3057 non-null object
Sex of Casualty        3057 non-null object
Age of Casualty        3057 non-null int64
Type of Vehicle        3057 non-null object
dtypes: int64(6), object(9)
memory usage: 358.4+ KB

In [36]:
rawdata.head(3)

,Reference Number,Easting,Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty,Type of Vehicle
0,3309,429093,436258,1,01-Jan-09,55,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Male,44,Car
1,2609,434723,435534,1,02-Jan-09,2335,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,Driver,Serious,Female,23,Car
2,2809,441173,433047,1,02-Jan-09,1645,Unclassified,Dry,Darkness: street lights present and lit,Fine without high winds,Pedestrian,Slight,Female,12,Car

In [37]:
rawdata['Type of Vehicle']=rawdata['Type of Vehicle'].replace(to_replace =['Bus or coach (17 or more passenger seats)','Minibus (8 â€“ 16 passenger seats)'],  value ="Bus") 

rawdata['Type of Vehicle']=rawdata['Type of Vehicle'].replace(to_replace =['Car','Taxi/Private hire car'],  value ="car") 


rawdata['Type of Vehicle']=rawdata['Type of Vehicle'].replace(to_replace =['M/cycle 50cc and under','Motorcycle over 125cc and up to 500cc','Motorcycle over 50cc and up to 125cc','Motorcycle over 500cc'],  value ="Motarcycle") 

rawdata['Type of Vehicle']=rawdata['Type of Vehicle'].replace(to_replace =['Pedal cycle','Other Vehicle'],  value ="Pedal cycle") 


rawdata['Type of Vehicle']=rawdata['Type of Vehicle'].replace(to_replace =['Goods vehicle 3.5 tonnes mgw and under','Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw','Goods vehicle 7.5 tonnes mgw and over'],  value ="Goods Vehicle") 

rawdata['Type of Vehicle']=rawdata['Type of Vehicle'].replace(to_replace =['Agricultural vehicle (includes diggers etc.)'], value ="Agri Vehicle")

In [38]:
rawdata['Type of Vehicle'].unique()

array(['car', 'Bus', 'Motarcycle', 'Pedal cycle', 'Other Vehicle ',
       'Goods Vehicle', 'Agri Vehicle'], dtype=object)

## Drop Unwanted columns

In [39]:
drpdata=rawdata.drop(['Reference Number','Easting','Northing','Accident Date','Time (24hr)'], axis=1)

## Encoding

In [40]:
#Apply label Encoding for the ordinal feaures
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder() 
drpdata['1st Road Class']= label_encoder.fit_transform(drpdata['1st Road Class']) 
drpdata['Road Surface']= label_encoder.fit_transform(drpdata['Road Surface']) 
drpdata['Lighting Conditions']= label_encoder.fit_transform(drpdata['Lighting Conditions']) 
drpdata['Weather Conditions']= label_encoder.fit_transform(drpdata['Weather Conditions']) 
drpdata['Casualty Class']= label_encoder.fit_transform(drpdata['Casualty Class']) 
drpdata['Sex of Casualty']= label_encoder.fit_transform(drpdata['Sex of Casualty']) 
drpdata['Type of Vehicle']= label_encoder.fit_transform(drpdata['Type of Vehicle'])

In [41]:
drpdata

,Number of Vehicles,1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty,Type of Vehicle
0,1,4,0,2,1,2,Slight,1,44,6
1,1,4,0,2,1,0,Serious,0,23,6
2,1,4,0,2,1,2,Slight,0,12,6
3,1,0,0,2,1,2,Slight,1,15,6
4,2,4,0,4,1,0,Slight,0,34,6
...,...,...,...,...,...,...,...,...,...,...
3052,4,3,0,1,1,0,Slight,1,42,6
3053,1,3,0,4,1,0,Slight,1,26,6
3054,2,4,4,2,1,1,Slight,0,5,6
3055,2,4,4,4,1,0,Slight,1,38,6
3056,2,4,4,4,1,1,Slight,0,24,6

***Encoded Values by using Lablel Encoder***

1. Number of Vehicles 
2. 1st Road Class
0-A
1-A(M)
2-B
3-Motorway
4-Unclassified
3. Road Surace
0-Dry
1-Frost / Ice
2-Flood
3-Snow
4-Wet / Damp
4. Lighting Conditions
0-Darkness: no street lighting
1-Darkness: street lighting unknown
2-Darkness: Darkness: street lights present and lit
3-Darkness: Darkness: street lights present but unlit
4-Darkness: Daylight: street lights present
5. Weather Conditions
0-Fine without high winds
1-Fog or mist â€“ if hazard
2-Fine with high winds
3-Other
4-Raining without high winds
5-Raining with high winds
6-Snowing without high winds
7-Snowing with high winds
8-Unknown
6. Casualty Class
0-Driver
1-Passenger
2-Pedestrian
7. Casualty Severity *target attribute*
0-slight
1-Serious/fatal
8. Sex of Casualty
0-Female
1-Male
9. Age of Casualty
10. Type of Vehicle
0-Agri vehicle
1-Bus
2-Car
3-Goods Vehicle
4-Motorcycle
5-Pedal cycle
6-Other vehicle

In [42]:
drpdata['Casualty Severity']=drpdata['Casualty Severity'].map( {'Slight':0, 'Serious':1})

In [44]:
drpdata.head(5)

,Number of Vehicles,1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty,Type of Vehicle
0,1,4,0,2,1,2,0,1,44,6
1,1,4,0,2,1,0,1,0,23,6
2,1,4,0,2,1,2,0,0,12,6
3,1,0,0,2,1,2,0,1,15,6
4,2,4,0,4,1,0,0,0,34,6

In [45]:
drpdata.to_csv("trainingdata.csv")